<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <span class="navbar-brand">Angular + Bootstrap</span>
      </div>
  </div>
</nav>

<div class="container-fluid">

<div class="row">
  <div class="col-sm-8" >
    <div class="panel panel-primary">
    <div class="panel-heading">Product List</div>
    <div class="panel-body fixed-panel">
      <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Product</th>
              <th>Code</th>
              <th>Price</th>
              <th>Rating</th>   
              <th></th>           
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Leaf Rake</td>
              <td>cat1-0001</td>
              <td>$10.01</td>
              <td>5</td>
              <td>
                <a class="btn btn-primary">Add</a>
              </td>
            </tr>
            <tr>
                <td>Leaf Rake1</td>
                <td>cat1-0001</td>
                <td>$19.01</td>
                <td>5</td>
                <td>
                  <a class="btn btn-primary">Add</a>
                </td>
              </tr>
              <tr>
                  <td>Leaf Rake1</td>
                  <td>cat1-0001</td>
                  <td>$19.01</td>
                  <td>5</td>
                  <td>
                    <a class="btn btn-primary">Add</a>
                  </td>
                </tr>
                <tr>
                    <td>Leaf Rake1</td>
                    <td>cat1-0001</td>
                    <td>$19.01</td>
                    <td>5</td>
                    <td>
                      <a class="btn btn-primary">Add</a>
                    </td>
                  </tr>
                  <tr>
                      <td>Leaf Rake1</td>
                      <td>cat1-0001</td>
                      <td>$19.01</td>
                      <td>5</td>
                      <td>
                        <a class="btn btn-primary">Add</a>
                      </td>
                    </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <iframe [src]="ordercartUrl" frameBorder="0"></iframe>
</div>


</div>